body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: grey;
}

.banner-column{
    background-color: lightseagreen;
}

.navbar-container{
    top: 0;
    z-index: 2;
    position: sticky;
    background-color: gainsboro;
}

a:hover{
    background-color: lightseagreen;
}

.about-container{
    background-color: lightskyblue;
}

.education-container{
    background-color: gainsboro;
}

.bg-redtype{
    background-color: coral;
}

.bg-redtype:hover{
    color: black !important;
}

.btn-danger:hover{
    color: black !important;
}

.redtype-color{
    color: orangered;
}

.circle-edu{
    background-color: orangered;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: lightblue;
}

.form-container{
    background-color: gray;
}

.inner-form{
    background-color: lightgrey;
}

.footer{
    background-color: lightsteelblue;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
}

.circle:hover{
    background-color: gray;
    color: blue;
}

.fa-youtube-play:hover{
    color: red;
}