body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: grey;
}

.banner-column{
    background-color: lightseagreen;
}

.navbar-container{
    background-color: gainsboro;
}

a:hover{
    background-color: lightseagreen;
}

.about-container{
    background-color: lightskyblue;
}

.education-container{
    background-color: gainsboro;
}

.bg-redtype{
    background-color: bisque;
}

.redtype-color{
    color: orangered;
}

.circle{
    background-color: orangered;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: lightblue;
}