body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: grey;
}

.banner-column{
    background-color: lightseagreen;
}

.navbar-container{
    background-color: gainsboro;
}